<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practice Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js" defer></script>
</head>
<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    <h1>{{ message }}</h1>
    <p>My name is {{ name }}</p>
    <button v-on:click="changeMessage()">Click me</button>
    Name: <input type="text" v-model="name">
    <br>
    <br>
    <br>
    <div>
      <button v-on:click="toggleExtraInfo()">Toggle info</button>
      <p v-if="showExtraInfo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae interdum urna. Mauris a ligula leo. Praesent id diam nunc. Nam varius interdum ligula sed fringilla. Aenean a pharetra turpis. Duis id risus et leo posuere iaculis. Curabitur blandit in augue eu pellentesque. In et congue enim, at suscipit massa. Nulla iaculis auctor elit, sit amet luctus turpis sodales eu. Sed consequat elit a finibus lacinia. Suspendisse sit amet eros non neque placerat hendrerit a id enim. Nam orci leo, viverra eget accumsan eu, malesuada ultricies ligula. Etiam malesuada justo a pellentesque maximus. Phasellus ornare ac velit sit amet tincidunt.
      </p>
    </div>
  </div>
</body>
</html>
